body {
  font: 100% "Helvetica", Arial, sans-serif;
  color: #333;
  background-color: #fafafa;
}

h1 {
  font: 100% "Helvetica Neue", Arial, sans-serif;
  font-size: 6rem;
  font-weight:normal;
  color: #333;
  margin: 0;
  margin-left: 0rem;
  padding: 0;
  line-height: 5.8rem;
}

nav {
  margin-top: 0.5rem;
  font-family: "PT Sans";
  font-weight: normal;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.navElement {
  margin-right: 1rem;
}

#activeElement {
  color: #f66;
}

a {
  color: #999;
  text-decoration: none;
}
a:hover {
  color: #666;
}
a:active {
  color: #f33;
}

article {
  margin-top: 2rem;
}
/*
td {
  border-left: 1px solid #ccc;
  padding:5px;


}*/

footer {
  margin-top: 3rem;
  font-size: 0.8rem;
}
table {
  border-collapse: collapse;
}

.column {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  /*border-radius: 2px;*/
  width: 20rem;
  height: auto;

  /*box-shadow: 1px 2px 2px #eee;*/

  padding-left: 1.5rem;
  padding-right: 1.5rem;

  text-align: left;
  vertical-align: top;
  font-size: 0.8rem;

}

.tile {

  width:20rem;
  height:11.3rem;
  margin: auto;
  margin-bottom: 3.6rem;
}

.tile div {
  padding-bottom: 0.5rem;
}

img {
  width: inherit;
}
div.imgFrame {
  border: 1px solid #ccc;
  overflow: hidden;
  width:inherit;
  height:inherit;
}

div.imgFrame img {
  transition: transform 3s ease;

}

div.imgFrame:hover img {
  transform: scale(1.1) translateY(-50px);
  filter: brightness(80%);
}
div.imgFrame:hover {
  border: 1px solid #666;
}
